body {
    display: flex;
    border: 1px solid;
    flex-direction: column;
    min-height: 70vh;
}
header {
    display: flex;
    border: 1px solid;
    justify-content: center;
}
main {
    display: flex;
    border: 1px solid;
    flex: 1;
    justify-content: stretch;
    flex-flow: row nowrap;
}
section {
    display: flex;
    flex: 1;
    border: 1px solid;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    padding: 10px;
}
.box1 {
    display: flex;
    border: 1px solid red;
    flex: 1 0 90%;
    margin: 10px;
}
.box {
    display: flex;
    border: 1px solid red;
    flex-basis: 45%;
    margin: auto;
}
aside {
    border: 1px solid;
    width: 30vw;
}
.foot {
    border: 1px solid red;
    flex: 0 0 content;
}
@media screen and (min-width: 767px) {
    footer {
        display: flex;
        border: 1px solid;
        justify-content: space-around;
        padding: 10px
}
}